.productImg {
    width: 400px;
    height: 400px;
    border-radius: 5px;
    padding: 40px;
    padding-bottom: 0px;
}

.caption {
    font-family: allura-regular;
    font-size: 22px;
}

div {
    color: #754b23;
}

.textCol {
    padding-top: 90px;
}

.description {
    line-height: 45px; 
}

.price {
    text-align: right;
}

.btnAddCart {
    background-color: hotpink;
    margin-bottom: 4px;
    margin-left: 20px;
    color: white;
}

.btnSmall {
    background-color: hotpink;
    margin-bottom: 4px;
    color: white;
}

.number {
    background-color: hotpink;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    height: 38px;
    margin-left: 2%;
    margin-right: 2%;
    color: white;
}

.table-hover tbody tr:hover td {
    background: #ffebef;
}

.table {
 
    // color: #401500;
    // background-color: #FFDDCC;
    border-color: hotpink;
  }

  .modalButton {
    position: relative;
    left: 4%;
    margin-bottom: 8px;
    margin-top: 8px;
    background-color: hotpink;
    border: none;
  }

