.schedule {
    background-color: #f6ede6;
    color: #754b23;
    text-align: center;
    border: 2px solid white;
    height: 35px;
}

.style1 {
    width: 152px;
}

.style2 {
    width: 218px;
}

h6 {
    color: #754b23;
}
