.app {
    .center {
        text-align: center;
    }

    .container {
        margin: 0 auto;
        width: 1000px;
    }
}

.brown {
    color:  #754b23;
}

@font-face {
    font-family: allura-regular;
    src: url('../../assets/fonts/Allura-Regular.ttf');
}