@import "../css/colors.scss";

.app {
    .center {
        text-align: center;
    }

    .container {
        margin: 0 auto;
        width: 1000px;
    }
}

div {
    h3 {
        line-height: 400%;
        color: $pinkHot;
    }

    p {
        color: black;
    }
}

@font-face {
    font-family: allura-regular;
    src: url("../../assets/fonts/Allura-Regular.ttf");
}
