// pink color variables
$pinkBubbleGum: #ffc0cb;
$pinkHot: hotpink;

// blue color variables
$blueTiffany: #a0e7e5;

// color configs
$textColorPrimary: black;
$textColorSecondary: $pinkHot;
$textColorHeader: $pinkHot;
$btnColor1: $pinkBubbleGum;
$btnColor2: $blueTiffany;
