.strips1 {
    background-image: url("../../assets/images/strips1.png");
    height: 95%;
    width: 160px;
    background-repeat: repeat;
}

.dots1 {
    top: 26%;
    position: absolute;
}

.box1 {
    max-width: 100%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 5%;
}
