// .img-responsive {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
// }

.modalCaption {
font-family: allura-regular;
}

.checkoutButtons {
    display:flex;
    justify-content: space-around;
    text-align: center;
}

.titleCenter {
    margin-left: 5px;
}