.brown {
    color:  #754b23;
}

.strips2-bg {
    background-image: url('../../assets/images/strips2.png');
    height: 100%;
    width: 80%;
}

.dots2 {
    padding-right: 10%;
    padding-top:5%;
}

div {
    h3 {
        color: #754b23;
        line-height: 400%;
    }

    p {
        color: #754b23;
    }
}

.text-padding {
    font-family: allura-regular;
    color:#754b23;
    font-size: 22px;
    padding-top: 5%;
    margin: auto;
}

.cupcake {
    padding-top: 2%;
    padding-bottom: 5%;
    max-width: 100%;
    height: auto;
}
