// @import "../../assets/css/colors.scss";

.strips2-bg {
    background-image: url("../../assets/images/strips2.png");
    height: 100%;
    width: 80%;
}

.dots2 {
    padding-right: 10%;
    padding-top: 5%;
}

.text-padding {
    font-family: allura-regular;
    color: black;
    font-size: 22px;
    padding-top: 5%;
    margin: auto;
}

.cupcake {
    padding-top: 2%;
    padding-bottom: 5%;
    max-width: 100%;
    height: auto;
}
