a:link {
    color: teal;
}

.form-style {
    padding-top: 3%;
}

.schedule-style {
    padding-top: 10%;
    padding-bottom: 5%;
}

.updots-style {
    position: absolute;
    left: 55%;
}

.downdots-style {
    position: absolute;
    top: 30%;
    left: 30%;


}