.logobg {
    background-image: url(/logo.png);
    background-size: contain;
    height: 250px;
    width: 300px;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 9%;
    margin-bottom: 0%;
}

    .allura {
    font-family: allura-regular;
    color:#754b23;
    font-size: 28px;
    padding-bottom: 2%;
    }

.divider {
    background-color: #754b23;
    height: 24px;
}