footer{
    height: 80px;
    padding-top: 20px;
    background-color: #06b4af;
    color: white;

    .dots{
    padding-left: 5%;
    }

    .phoneimg{
      background-image: url('../../assets/images/phone.png');
      background-repeat: no-repeat;
      background-position: 50px 5px
    }
   }